body{

    font-family: "Fredoka", sans-serif;
}


/* selettore del tag */

h1{

    color: green;
}


p {

    color: aqua;
}

body{

    background-color: grey;
}

/* sellettore di id */
#secondary{

    color:white;
}

/* selettore di classe */

.section-title{

    color:purple
}

.uppercase{

    text-transform: uppercase;
}

.blocco{

    height: 150px;
    background-color: rebeccapurple;
}

.color-text {

    color: yellow ;
    font-family: Arial, Helvetica, sans-serif;
    
}